{% extends "navbar_base.html" %}
{% block content %}

<h1>(#{{ ticket.id }}) {{ ticket.title }}<br>
</h1>
<h2>
    {% if ticket.state == 'Closed: Duplicate' or ticket.state == 'Closed: Denied' %}
    <span class="badge bg-danger"> {{ ticket.state }} </span>
    {% elif ticket.state == 'Closed: Fixed' %}
    <span class="badge bg-success"> {{ ticket.state }} </span>
    {% elif ticket.state == 'Waiting For Approval' %}
    <span class="badge bg-secondary"> {{ ticket.state }} </span>
    {% elif ticket.state == 'In Progress' %}
    <span class="badge bg-warning"> {{ ticket.state }} </span>
    {% elif ticket.state == 'Open' %}
    <span class="badge bg-primary"> {{ ticket.state }} </span>
    {% endif %}
</h2>
<div class="top-50 start-50">
    Description:
    <div class="bg-white px-2 m-1 pb-2 row rounded border"  >
        <p>{{ ticket.description }}</p>
    </div>
    Date Created: <strong>{{ ticket.created_timestamp }}</strong> <br>
    {% if allow_state_change %}
    <form action="" method="POST">
        {% csrf_token %}
        Status: {{ state_change_form.state }}
    </form>
    {% endif %}
    {% if allow_prio_change %}
    <form action="" method="POST">
        {% csrf_token %}
        Priority: {{ priority_form.priority }}
    </form>
    {% else %}
        {%if ticket.priority == 'Lowest' %}
            Priority: <strong class="text-success">{{ ticket.priority }}</strong> <br>
        {% elif ticket.priority == 'Low' %}
            Priority: <strong class="text-ifno">{{ ticket.priority }}</strong> <br>
        {% elif ticket.priority == 'Medium' %}
            Priority: <strong class="text-primary">{{ ticket.priority }}</strong> <br>
        {% elif ticket.priority == 'High' %}
            Priority: <strong class="text-warning">{{ ticket.priority }}</strong> <br>
        {% else %}
            Priority: <strong class="text-danger">{{ ticket.priority }}</strong> <br>
        {% endif %}
    {% endif %}
    Author: 
    {% if ticket.authorid %}
        <a href="{% url 'user-view' id=ticket.authorid_id %}">{{ ticket.authorid.name }} {{ ticket.authorid.surname }} </a><br>
    {%else%}
        <i>[Deleted]</i> <br>
    {%endif%}
    {% if currentUserData.role in 'Officer,Technician' %}
    Assigned Service Request: 
        {% if serviceRequest %} 
            <a href="{% url 'request-details' id=serviceRequest.id %}"><i>#{{ serviceRequest.id }}</i></a><br>
        {% else %}
            {% if currentUserData.role == 'Officer' %}
                <a href="{% url 'request-create-to-ticket' ticket_id=ticket.id %}"><i>Click here to assign.</i></a><br>
            {% else %}
                <i>No reqeust assigned.</i><br>
            {% endif %}
        {% endif %}
    {% endif %}

    {% if owner %}
    <div class="mt-3">
        <a href="{% url 'ticket-edit' ticket_id=ticket.id %}"><button type="button" class="btn btn-primary me-2">Edit
                Ticket</button></a>
        <!-- <button type="button" class="btn btn-danger">Delete Ticket</button> -->
    </div>
    <br>
    {% endif %}
    <!-- Page Content -->
    <div class="accordion accordion-flush mt-3" id="accordionFlushExample">
        {% if images %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Pictures
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="container">
                        <div class="row text-center text-lg-start">
                            {% for img in images %}
                            <div class="col-lg-3 col-md-4 col-6">
                                <a href="{{ img.url.url }}" class="d-block mb-4 h-100">
                                    <img class="img-fluid img-thumbnail" src="{{ img.url.url }}" alt="">
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Comments &nbsp;<span class="badge bg-secondary"> {{ commentsCount }}</span>
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse pb-1 show" aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <form action="." method="POST">
                        {% csrf_token %}
                        <div class="mb-1">
                            New comment:
                        </div>
                        {{ comment_form.text }}
                        <div class="pe-2 col text-end">
                            <button type="submit" class="btn btn-outline-primary mt-2">Submit</button>
                        </div>
                    </form>
                    </form>
                </div>
                {% for comment in comments %}
                <p>
                    <div class="bg-secondary m-3 px-1 pb-2 row rounded" style="--bs-bg-opacity: .3">
                        <div class="col-md-6 text-start ">
                                <a href="{% url 'user-view' id=comment.AuthorId %}">
                                <p class="fs-6">{{ comment.AuthorName }}</p>
                            </a>
                            </div>
                        <div class="col-md-6 text-end fs-6">
                            {{ comment.timestamp }}
                        </div>
                        <div class="col-md-6 text-start fs-5">
                            {{comment.text}}
                        </div>
                    </div>
                </p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- what is this </div>? -->
</div>

{% endblock content %}