{% extends "navbar_base.html" %}
{% block content %}

<style>
    .table-row {
        cursor: pointer;
    }
</style>

<table class="table rounded table-hover table-striped">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Created</th>
            <th scope="col">Priority</th>
            {% if currentUserData.role in 'Officer,Technician' %}
            <th scope="col">Service Request</th>
            {% endif %}
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody class="bg-body">
        {% for ticket in tickets %}
        <tr class="table-row" onclick="window.location='{{ticket.id}}/'">
            <td>{{ticket.title}}</td>
            <td>{{ticket.created_timestamp}}</td>
            <td>{{ticket.priority}}</td>
            {% if currentUserData.role in 'Officer,Technician' %}
            <td>{{ticket.service_request}}</td>
            {% endif %}
            <td>
                {% if ticket.state == 'Closed: Duplicate' or ticket.state == 'Closed: Denied' %}
                <span class="badge bg-danger"> {{ ticket.state }} </span>
                {% elif ticket.state == 'Closed: Fixed' %}
                <span class="badge bg-success"> {{ ticket.state }} </span>
                {% elif ticket.state == 'Waiting' %}
                <span class="badge bg-secondary"> {{ ticket.state }} </span>
                {% elif ticket.state == 'In Progress' %}
                <span class="badge bg-warning"> {{ ticket.state }} </span>
                {% elif ticket.state == 'Open' %}
                <span class="badge bg-primary"> {{ ticket.state }} </span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock content %}