{% extends "base.html" %}
{% block content %}





<div class="position-absolute top-50 start-50 translate-middle rounded color-block bg-info bg-gradient">
    <a href="{% url 'user-login' %}" class="m-2"> &lt;Back to login</a>
    <div class="m-4">
        <form action="." method="POST">
            {% csrf_token %}
            {{form}}
            <div class="pe-2 col text-center mt-2">
                <button type="submit" class="btn btn-primary end-50">Register</button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}