{% extends "navbar_base.html" %}
{% block content %}



        <h1>Information about user</h1>
        <div class="top-50 start-50">
            Name : <strong>{{ name }}</strong> <br>
            Surname: <strong>{{ surname }}</strong> <br>
            {% if currentUserData.role == "Officer"  and role != "Officer" %}
                <form action="." method="POST">
                    {% csrf_token %}
                    {{form}}
                </form>
            {% else %}
                Role:
                 <strong>{{ role }}</strong> <br>
            {% endif %}
        </div>

        {% if owner %}
            <div class="mt-3">
                <a href="/user/edit/{{id}}/"><button type="button" class="btn btn-outline-primary me-2">Edit profile</button></a>
                <a href="/user/edit/password/{{id}}/"><button type="button" class="btn btn-outline-primary me-2">Change password</button></a>
                <a href="/user/delete/{{id}}/"><button type="button" class="btn btn-outline-danger">Delete account</button></a>
            </div>
        {% endif %}

</div>



{% endblock content %}