{% extends "navbar_base.html" %}
{% block content %}



<h1>Information about user</h1>
<div class="top-50 start-50">
    Name : <strong>{{ name }}</strong> <br>
    Surname: <strong>{{ surname }}</strong> <br>
    {% if currentUserData.role == "Officer" and role != "Officer" %}
    <form action="." method="POST">
        {% csrf_token %}
        {{form}}
    </form>
    {% else %}
    Role:
    <strong>{{ role }}</strong> <br>
    {% endif %}
    <a href="{% url 'ticket-created-by' author_id=id %}">Created Tickets</a><br>
    {% if role == 'Technician' %}
    <a href="{% url 'ticket-created-by' author_id=id %}">Assigned Requests</a><br>
    {% endif %}
    {% if role == 'Officer' %}
    <a href="{% url 'request-created-by' author_id=id %}">Created Requests</a><br>
    {% endif %}
</div>

{% if owner %}
<div class="mt-3">
    <a href="{% url 'user-edit' id=id %}"><button type="button" class="btn btn-outline-primary me-2">Edit profile</button></a>
    <a href="{% url 'user-change-password' id=id %}"><button type="button" class="btn btn-outline-primary me-2">Change password</button></a>
    <a href="{% url 'user-delete' id=id %}"><button type="button" class="btn btn-outline-danger">Delete account</button></a>
</div>
{% endif %}

</div>



{% endblock content %}