{% extends "navbar_base.html" %}
{% block content %}

<h1>Create Request</h1>
<form action="" method="POST">
    {% csrf_token %}
    <div style="width: 300px;">
        <label for="{{ request_form.ticketid.id_for_label }}">Relevant Ticket:</label>
        {{ request_form.ticketid }}
    </div>
    <div style="width: 300px;">
        Assign Technician: {{ request_form.technicianid }}
    </div>
    <div style="width: 200px;">
        <label for="{{ request_form.priority.id_for_label }}">Priority:</label>
        {{ request_form.priority }}
    </div>
    <div style="width: 800px;">
        <label for="{{ request_form.description.id_for_label }}">Description:</label>
        {{ request_form.description }}
    </div>
    <input type="submit" value="Submit" class="btn btn-primary mt-3">
</form>

{% endblock content %}