{% extends "navbar_base.html" %}
{% block content %}

<h1>Request ID - #{{ serviceRequest.id }}</h1>
<h2>
    {% if serviceRequest.state == 'Finished' %}
    <span class="badge bg-success"> {{ serviceRequest.state }} </span>
    {% elif serviceRequest.state == 'In Progress' %}
    <span class="badge bg-warning"> {{ serviceRequest.state }} </span>
    {% elif serviceRequest.state == 'Open' %}
    <span class="badge bg-primary"> {{ serviceRequest.state }} </span>
    {% endif %}
</h2>

<div class="top-50 start-50">
    Relevant Ticket: <a href="{% url 'ticket-details' id=serviceRequest.ticketid.id %}"> {{ serviceRequest.ticketid.title }} </a> <br>
    Description: <br>
    <p><strong>{{ serviceRequest.description }}</strong></p>
    Date Created: {{ serviceRequest.created_timestamp }} <br>
    Priority: {{ serviceRequest.priority }} <br>
    Officer (Author):
    <a href="{% url 'user-view' id=serviceRequest.authorid.id %}">
        {{ serviceRequest.authorid.name }} {{ serviceRequest.authorid.surname }}
    </a>
    <br>
    {% if currentUserData.role == 'Officer' %}
    <form action="" method="POST">
        {% csrf_token %}
        Assigned Technician: {{ assign_form.technicianid }}
    </form>
    {% else %}
        {% if serviceRequest.technicianid %}
        Assigned Technician: <a href="{% url 'user-view' id=serviceRequest.technicianid.id %}">
            {{ serviceRequest.technicianid.name }} {{ serviceRequest.technicianid.surname }}
        </a>
        {% else %}
        Assigned Technician: <i>No Technician assigned.</i>
        {% endif %}
        <br>
    {% endif %}
    Relevant Ticket:
    <a href="{% url 'ticket-details' id=serviceRequest.ticketid.id %}">
        {{ serviceRequest.ticketid.title }}
    </a>
    <br>
    <!-- TODO: -->
    Expected Completion Date: ... <br>
    Estimated Expenses: ...
</div>

{% endblock content %}