{% extends "navbar_base.html" %}
{% block content %}

<h1>Request ID - #{{ serviceRequest.id }}</h1>
<h2>
    {% if serviceRequest.state == 'Finished' %}
    <span class="badge bg-success"> {{ serviceRequest.state }} </span>
    {% elif serviceRequest.state == 'In Progress' %}
    <span class="badge bg-warning"> {{ serviceRequest.state }} </span>
    {% elif serviceRequest.state == 'Open' %}
    <span class="badge bg-primary"> {{ serviceRequest.state }} </span>
    {% endif %}
</h2>

<div class="top-50 start-50">
    Relevant Ticket: <a href="{% url 'ticket-details' id=serviceRequest.ticketid.id %}"> {{ serviceRequest.ticketid.title }} </a> <br>
    Description:
    <div class="bg-white px-2 m-1 pb-2 row rounded border"  >
    {{ serviceRequest.description }}
    </div>
    Date Created: <strong>{{ serviceRequest.created_timestamp }} </strong><br>
    {% if allow_prio_change %}
    <form action="" method="POST">
        {% csrf_token %}
        Priority: {{ priority_form.priority }}
    </form>
    {% else %}
        {%if serviceRequest.priority == 'Lowest' %}
            Priority: <strong class="text-success">{{ serviceRequest.priority }}</strong> <br>
        {% elif serviceRequest.priority == 'Low' %}
            Priority: <strong class="text-ifno">{{ serviceRequest.priority }}</strong> <br>
        {% elif serviceRequest.priority == 'Medium' %}
            Priority: <strong class="text-primary">{{ serviceRequest.priority }}</strong> <br>
        {% elif serviceRequest.priority == 'High' %}
            Priority: <strong class="text-warning">{{ serviceRequest.priority }}</strong> <br>
        {% else %}
            Priority: <strong class="text-danger">{{ serviceRequest.priority }}</strong> <br>
        {% endif %}
    {% endif %}
    Officer (Author):
    {% if serviceRequest.authorid %}
    <a href="{% url 'user-view' id=serviceRequest.authorid.id %}">
        {{ serviceRequest.authorid.name }} {{ serviceRequest.authorid.surname }}
    </a>
    {%else%}
        <i>[Deleted]</i>
    {%endif%}
    <br>
    {% if currentUserData.role == 'Officer' %}
    <form action="" method="POST">
        {% csrf_token %}
        Assigned Technician: {{ assign_form.technicianid }}
    </form>
    {% else %}
        {% if serviceRequest.technicianid %}
        Assigned Technician: <a href="{% url 'user-view' id=serviceRequest.technicianid.id %}">
            {{ serviceRequest.technicianid.name }} {{ serviceRequest.technicianid.surname }}
        </a>
        {% else %}
        Assigned Technician: <i>No Technician assigned.</i>
        {% endif %}
        <br>
    {% endif %}
    {% if allow_tech_changes %}
    <form action="" method="POST">
        {% csrf_token %}
        <!-- <input type="date"> -->
        Expected Completion Date: {{ expected_date_form.days_remaining }}
    </form>
    <form action="" method="POST">
        {% csrf_token %}
        Estimated Expenses: {{ estimated_price_form.price }},- Kč
    </form>
    <form action="" method="POST">
        {% csrf_token %}
        Status: {{ state_change_form.state }}
    </form>
    {% else %}
    Expected Completion Date: {{ serviceRequest.days_remaining }} <br>
    Estimated Expenses: {{ serviceRequest.price }},- Kč <br>
    {% endif %}
</div>


<h2>
    Comments &nbsp;<small><small><span class="badge bg-secondary">{{ commentsCount }}</span></small></small>
</h2>


<form action="." method="POST">
    {% csrf_token %}
    <div class="mb-1">
        New comment:
    </div>
    {{ comment_form.text }}
    <div class="pe-2 col text-end">
        <button type="submit" class="btn btn-outline-primary mt-2">Submit</button>
    </div>
</form>


{% for comment in comments %}
<p>
    <div class="bg-secondary m-3 px-1 pb-2 row rounded" style="--bs-bg-opacity: .3">
        <div class="col-md-6 text-start ">
                <a href="{% url 'user-view' id=comment.AuthorId %}">
                <p class="fs-6">{{ comment.AuthorName}}</p>
            </a>
            </div>
        <div class="col-md-6 text-end fs-6">
            {{ comment.timestamp }}
        </div>
        <div class="col-md-6 text-start fs-5">
            {{comment.text}}
        </div>
    </div>
</p>
{% endfor %}



{% endblock content %}